* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(90deg, #a6c0fe 0%, #f68084 100%);
  font-family: "Roboto", sans-serif !important;
}

nav {
  position: sticky !important;
  width: 100%;
  top: 0;
  z-index: 500;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: 0.4s;
  background-color: #fff;
}

nav.sticky {
  background-color: #fff;
  border-radius: 0;
}

.navbar-brand {
  padding-left: 8px;
}

.nav-item {
  text-transform: capitalize !important;
}

.nav-link {
  font-size: 18px;
  font-weight: 500;
}

.nav-link:hover {
  color: var(--danger) !important;
}

.nav-item.active .nav-link {
  color: var(--danger) !important;
}

.main {
  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  background-color: #fff;
  padding: 0 20px !important;
  border-radius: 15px;
  margin: 50px auto;
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%);
}

.wrap-about {
  display: flex;
  flex-wrap: wrap;
}

.avatar {
  max-height: 300px;
  position: relative;
  padding: 0 !important;
}
.avatar img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 7px;
}

.avatar label {
  position: absolute;
  opacity: 0;
  transition: 0.6s;
  bottom: calc(50%);
  left: calc(50% - 30px);
  margin: 0;
}

.avatar:hover img {
  filter: blur(1px);
}

.avatar:hover .label-file {
  opacity: 1;
}

.about {
  padding-left: 50px !important;
}

.name {
  color: var(--danger);
  padding-top: 0 !important;
}

.font-weight-bold {
  opacity: 0.7;
}

.position {
  font-size: 18px;
  color: var(--gray);
}

.education {
  font-size: 18px;
  color: var(--dark);
}
/* .education div {
  padding: 5px 0;
} */
.education div:hover {
  cursor: pointer;
  color: var(--danger);
  text-decoration: underline;
}

.wrap-about:hover .edit {
  opacity: 1;
}

.edit {
  opacity: 0;
}

.save {
  display: none;
}

.save.show {
  display: block;
}

.content {
  padding: 8px 24px;
}

.navbar-toggler {
  margin-left: 8px;
  margin-right: 8px;
}

.content h2 {
  text-transform: uppercase;
  color: var(--danger);
  cursor: default;
  font-size: 24px;
  margin: 0;
}

.content h5 {
  cursor: default;
  color: var(--gray);
  margin: 0;
}

.title {
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: var(--danger);
}

.title h5 {
  color: #222;
  font-size: 20px;
}

.edit {
  opacity: 0;
}

.save {
  display: none !important;
}

.save.show {
  display: inline-block !important;
}

.list-group {
  font-size: 17px;
}

.h0 {
  height: 0;
}

.list-group-item {
  background-color: transparent !important;
}

.contact-group {
  border: none !important;
  display: flex;
}

.hover {
  position: relative;
}

.btn-trash,
.btn-arrow{
  position: absolute;
  width: 40px;
  display: flex !important;
  opacity: 0;
  transition: 0.4s;
  color: var(--danger);
  cursor: pointer;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.btn-arrow {
  left: -40px;
  
}

.pub-chosen-right{
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  right: -40px;
  color: var(--danger);
  width: 40px;
  opacity: 0;
}

.pub-chosen-right .fa-trash-alt,
.pub-chosen-right .pdf{
  width: 100%;
  text-align: center;
  height: 50%;
  cursor: pointer;
  margin: 0;
}

.pub-chosen-right .pdf:hover{
  text-decoration: underline;
}

input[name*="pdf"]{
  display: none;
}

.btn-trash {
  right: -40px;
}

.fa-plus {
  cursor: pointer;
  opacity: 0;
  padding: 0 10px;
  margin: 0 10px;
}

.hover:hover .btn-arrow,
.hover:hover .btn-trash,
.hover:hover .pub-chosen-right {
  opacity: 1;
}

.btn-arrow:hover,
.pdf:hover,
.fa-trash-alt:hover{
  opacity: 0.8 !important;
}

.fa-envelope,
.fa-fax,
.fa-phone-square,
.fa-address-card {
  width: 32px;
  height: auto;
  text-align: center;
  display: flex !important;
  align-items: center;
  margin-right: 10px;
}

.contact-group .list-group-item {
  width: 100%;
}

.contact-group a {
  color: #222;
}

.contact-group a:hover {
  color: var(--danger);
}

.academic-item {
  border: none !important;
  padding: 0 !important;
}
.academic-item:nth-child(1) {
  border-right: 0;
}
.academic-item:nth-child(2) {
  text-align: end;
  color: var(--danger);
  border-top-width: 1px !important;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 0;
}

.academic-item .list-group-item{
  padding: 0.25rem 1.25rem;
}

.list-group-item {
  border: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.academic-item h4,
.content h4 {
  font-size: 1.25rem;
}

.academic-item .time {
  padding-right: 5px;
}

/* #group1 .list-group-item,
#group2 .list-group-item {
  border: none;
  padding-left: 0;
  padding-right: 0;
} */

.wrap-project h2 {
  color: var(--danger);
  font-size: 24px;
  text-transform: uppercase;
}

.table td,
.table th,
.table td div {
  text-align: center;
}

.table {
  display: block;
}

/* Animation */
@keyframes Fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Screen */

@media (min-width: 1200px) {
  nav {
    max-width: 1140px;
  }

  /* .label-file {
    left: 29%;
    top: 40%;
  } */
}

@media (min-width: 992px) and (max-width: 1199.99px) {
  nav {
    max-width: 960px;
  }

  /* .label-file {
    left: 23%;
    top: 31%;
  } */
}

@media (min-width: 768px) and (max-width: 991.99px) {
  nav {
    max-width: 720px;
  }

  /* .label-file {
    left: 23%;
    top: 31%;
  } */
}

@media (max-width: 767px) {
  nav {
    max-width: 540px;
  }

  .table tr td:last-child,
  .table tr th:last-child {
    display: none;
  }

  /* .label-file {
    left: 34%;
    top: 47%;
  } */

  .about {
    padding-left: 15px !important;
    margin-top: 25px;
  }
}

.container-drag {
  min-height: 30px;
}

.list-group-item {
  position: relative;
  /* overflow: hidden; */
  cursor: default;
}

.remove.show {
  display: flex;
  height: 100%;
  width: 50px;
  position: absolute;
  top: 0;
  right: -1px;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* .remove::after {
  content: "Xoa";
  display: block;
  height: 100%;
  width: 50px;
} */

.list-group-item:hover .remove.show {
  transform: translateX(0%);
  cursor: pointer;
  background-color: var(--danger) !important;
}

.list-group-item:hover .remove.show:hover {
  background-color: #9e062c !important;
}

p {
  margin: 0 !important;
}

.list-group-item {
  position: relative;
}

.remove {
  display: none !important;
  position: absolute;
  top: 0;
  right: -40px;
  cursor: pointer;
  z-index: 1000;
  text-align: center;
}

.list-group-item:hover .remove {
  display: block !important;
}

.submit {
  padding: 0 24px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
